################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Kartuino/v16
/.vs
/ServoPID/TestServoPID/.vs/TestServoPID/v16
/ServoPID/TestServoPID/Debug
/ServoPID/TestServoPID/packages/vcpkg.C.Users.marcu.source.repos.vcpkg.1.0.0

**/bin
**/obj
ServoPID/.vs/
ServoPID/TestServoPID/pid_ms.csv
TestServoPID/pid_ms.csv
TestServoPID/.vs/
TestServoPID/Debug/
TestServoPID/packages/
packages
Release 
MigrationBackup/
/ArduinoMock/Debug
/ArduinoMock/Win32/Debug
/ArduinoMock/x64/Debug
/TestServoPID/Win32/Debug
/TestServoPID/x64/Debug
